<nav
  [ngStyle]="{
    top: navBarInfo.top,
    boxShadow: navBarInfo.borderBottomGradient,
    backgroundColor: theme.color2,
    color: theme.majorTextColor
  }"
  #navBar
>
  <div
    [ngStyle]="{
      width: '' + containerWidth + '%'
    }"
    class="container"
  >
    <div class="logo">
      LOGO
    </div>
    <app-hamburger
      class="hamburger"
      (click)="onClickHamburger()"
    ></app-hamburger>
    <ul
      [ngStyle]="{
        backgroundColor: theme.color2
      }"
      [ngClass]="{
        'hamburger-items-hidden': hamburgerItemsInfo.isHidden
      }"
      class="hamburger-items"
      #hamburgerItems
    >
      <li class="hamburger-item">About</li>
      <li class="hamburger-item">Experience</li>
      <li class="hamburger-item">Projects</li>
    </ul>
  </div>
</nav>
