@import "src/assets/themes";

.loader {
  padding-top: 100px;
}

.error {
  padding-top: 100px;

  display: flex;
  justify-content: center;

  font-size: 1rem;
  color: $majorTextColor;
}

.container {
  padding: 50px 0 5px;
}

.projects-list {
  width: 70%;
  max-width: 1000px;
  margin: auto;
  padding-right: 70px;

  border-right: 1px solid $color5;
}

.projects-list-item {
  margin-bottom: 70px;
  color: $color1;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .title {
    min-width: 300px;
    margin-right: 20px;

    font-size: 1.8rem;
  }

  .description {
    margin-top: 10px;
    color: $majorTextColor;
    font-size: 1rem;
  }

  .visit {
    height: 40px;
    margin-top: 20px;
    padding: 7px 15px;

    border: 1px solid $color1;
    border-radius: 4px;

    color: $color1;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
      background-color: rgba($color1, 0.1);
    }
  }
}

@media screen and (max-width: 850px) {
  .projects-list {
    padding: 0;
    border: 0;
  }

  .projects-list-item {
    .header {
      flex-direction: column;
    }
  }

  .visit {
    width: 65px;
  }
}

@media screen and (max-width: 600px) {
  .projects-list {
    width: 80%;
  }

  .projects-list-item {
    .title {
      min-width: 0;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .projects-list {
    width: 80%;
  }
}
