.container {
  position: fixed;
  top: 12vh;
  right: 5vw;
}

.toast {
  min-height: 50px;
  width: 200px;
  margin-bottom: 6px;
  padding: 2px 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid;
  border-radius: 5px;

  font-size: 1rem;

  cursor: default;
}

@mixin toastTheme($color) {
  border-color: $color;
  background-color: lighten($color, 40);
  color: darken($color, 10);
}

.success {
  @include toastTheme(green);
}

.info {
  @include toastTheme(dodgerblue);
}

.error {
  @include toastTheme(red);
}
