@import "../../../assets/themes";

nav {
  height: 10vh;
  width: 100%;
  position: fixed;

  background-color: $color2;
  color: $majorTextColor;

  z-index: 1;
  // Given because we are using a fixed element. If a relative
  // element like copy-email in 'connect' occurs under this elem,
  // this elem will be placed lower in stack order in the display.
  // (To understand more about what I mean, comment this and
  // turn on mobile display. Open the hamburger menu and
  // go to the connect component and scroll the element to under nav-bar)
}

a {
  text-decoration: none;
}

.container {
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.logo {
  width: 40px;
  height: 40px;

  color: $color1;
  cursor: pointer;
  fill: none;

  &:hover {
    fill: rgba($color1, 0.2);
  }
  &:focus {
    outline-color: $color1;
  }
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger-items {
  width: 40%;
  max-width: 500px;
  display: flex;

  background-color: $color2;

  font-size: 0.9rem;

  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.hamburger-item {
  cursor: pointer;
  padding: 3px 10px;

  display: flex;
  align-items: center;
}

.hamburger-item:focus,
.hamburger-item:hover,
.hamburger-item-active {
  outline-color: $color1;
  color: $color1;
}

.hamburger-item-resume {
  padding: 5px 15px;
  border: 1px solid $color1;
  border-radius: 4px;

  font-size: 0.95rem;
  color: $color1;

  &:hover {
    background-color: rgba($color1, 0.1);
  }
}

@media screen and (max-width: 1000px) {
  .hamburger {
    display: block;
  }

  .hamburger-items {
    height: 90vh;
    width: 50%;
    position: fixed;
    right: 0;
    top: 10vh;

    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    z-index: 1;
    // Given because we are using a fixed element. If a relative
    // element like copy-email in 'connect' occurs under this elem,
    // this elem will be placed lower in stack order in the display.
    // (To understand more about what I mean, comment this and
    // turn on mobile display. Open the hamburger menu and
    // go to the connect component)
  }

  .hamburger-items-hidden {
    //display: none;    // transition doesn't work with this
    transform: translateX(100%);
  }
}

@media screen and (max-width: 700px) {
  .hamburger-items {
    width: 65%;
  }
}

@media screen and (max-width: 500px) {
  .hamburger-items {
    width: 100%;
  }
}
