<nav [ngStyle]="{top: navBarInfo.top}" #navBar>
  <div [ngStyle]="{width: '' + containerWidth + '%'}" class="container">
    <div class="logo" routerLink="/" (click)="closeHamburgerMenu()">
      <app-icons type="LOGO"></app-icons>
    </div>
    <app-hamburger class="hamburger" (click)="onClickHamburger()"
    ></app-hamburger>
    <div
      [ngClass]="{
        'hamburger-items-hidden': hamburgerItemsInfo.isHidden
      }"
      class="hamburger-items"
      #hamburgerItems
    >
      <div *ngFor="let link of navBarInfo.links"
           class="hamburger-item"
           [routerLink]="link.routerLink"
           routerLinkActive="hamburger-item-active"
           (click)="closeHamburgerMenu()"
           [routerLinkActiveOptions]="{ exact: true }"
      >{{ link.title }}
      </div>
      <a class="hamburger-item hamburger-item-resume" rel="noopener"
           [href]="navBarInfo.resumeUrl" target="_blank" (click)="viewedResume()"
      >Resume</a>
    </div>
  </div>
</nav>
