<div class="container">
  <ul class="projects-list">
    <li class="back-btn" routerLink="/projects">Back</li>
    <li class="projects-list-item" *ngFor="let project of projectsList">
      <div class="header">
        <div class="about">
          <p class="title">{{ project.title }}</p>
          <p class="description">
            {{ project.description }}
          </p>
        </div>
        <a [href]="project.link" class="visit" target="_blank"
           rel="nofollow" (click)="viewProject(project.title)">Visit</a>
      </div>
    </li>
  </ul>
</div>
