@import "src/assets/themes";

.back-btn {
  height: 40px;
  width: fit-content;
  margin-bottom: 30px;
  padding: 7px 15px;

  border: 1px solid $color1;
  border-radius: 4px;

  color: $color1;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: rgba($color1, 0.1);
  }
}
