<div class="container">
  <div class="loader" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>

  <div class="error" *ngIf="!isLoading && !resultFound">
    <p>Some error occurred! Please try again later..</p>
  </div>

  <div class="projects-list-container">
    <ul class="projects-list">
      <li class="back-btn" routerLink="/projects" *ngIf="!isLoading">Back</li>
      <li class="projects-list-item" *ngFor="let project of projectsList">
        <div class="header">
          <div class="about">
            <p class="title">{{ project.title }}</p>
            <p class="description">
              {{ project.description }}
            </p>
          </div>
          <a [href]="project.link" class="visit" target="_blank"
             rel="nofollow" (click)="viewProject(project.title)">Visit</a>
        </div>
      </li>
    </ul>
  </div>
</div>
