@import "src/assets/themes";

.hamburger {
  height: 15px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.hamburger-line {
  width: 30px;
  height: 3px;

  background-color: $majorTextColor;
}

.hamburger:hover {
  .hamburger-line {
    background-color: $color1;
  }
}
