/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "assets/themes";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  list-style: none;

  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 10px;
  background-color: $color2;
}

::selection {
  color: $color1;
  background-color: rgba($color5, 0.2);
}
